<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- Servlet 定义 -->
    <servlet>
        <servlet-name>SubmitFormServlet</servlet-name>
        <servlet-class>SubmitFormServlet</servlet-class>
    </servlet>

    <!-- Servlet 映射 -->
    <servlet-mapping>
        <servlet-name>SubmitFormServlet</servlet-name>
        <url-pattern>/SubmitFormServlet</url-pattern>
    </servlet-mapping>

</web-app>